/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* font */
$f: (
  jua: "Jua",
);

/* color */
$c: (
  light: #fff,
  dark: #000,
  title: #666,
  shadow: #333,
  ac: #222,
  bg: #747474,
  item: #ccc,
);

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* comon */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contants */
#container {
  width: 450px;
  border: 1px solid map-get($map: $c, $key: item);
  border-radius: 8px;
  box-shadow: 0 0 8px map-get($map: $c, $key: shadow);
  padding: 20px;

  .day1 {
    text-align: center;
    font-family: map-get($map: $f, $key: jua);
    h3 {
      font-size: 3.2rem;
      color: map-get($map: $c, $key: title);
    }
    .accent {
      margin-top: 6px;
      span {
        font-size: 4rem;
        font-weight: bold;
        color: map-get($map: $c, $key: ac);
      }
    }
  }

  .bar {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    background: map-get($map: $c, $key: bg);
    color: map-get($map: $c, $key: light);
    text-align: center;
    line-height: 40px;
    font-size: 2rem;
    border-radius: 8px;
  }

  .day2 {
    width: 100%;
    ul {
      height: 60px;
      border-bottom: 1px solid map-get($map: $c, $key: item);
      display: flex;

      justify-content: space-between;
      align-items: center;
      font-size: 1.8rem;
      .item-title {
        padding-left: 20px;
      }
      .item-date {
        color: map-get($map: $c, $key: ac);
        padding-right: 20px;
        font-weight: bold;
      }
    }
  }
}
