@import "./reset.scss";
@import "./variables.scss";

@mixin innerContent {
  .contents-title {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $color, $key: theme);
      font: bold 1.4rem/1 "arial";
    }
    .subtitle {
      font: normal 1.4rem/1 "arial";
    }
  }
}

//아임프레임에서 전체 상속을 받겠다는 의미에서 html,body 모두 width,height 100% 주기
/* common */

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  body {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
  }
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #wrapper-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include innerContents;
    .header-line {
      width: 100%;
      border-top: 1px solid map-get($map: $color, $key: gray);
      margin: 4px 0;
    }
  }
  #wrapper-body {
    width: 100%;
    height: 270px;
    @include innerContent;
    .video {
      width: 100%;
      height: 240px;
      background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStEWlQKHveMqGsarEsNKFI4vmJpzW5hso9Hg&s")
        center/cover no-repeat;
    }
  }
}
