@import "./reset.scss";
@import "./variables.scss";

/* common */
@mixin innerContent {
  .contents-title {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $color, $key: theme);
      font: bold 1.4rem/1 "arial";
    }
    .subtitle {
      font: normal 1.4rem/1 "arial";
    }
  }
}

@mixin gamecontainer {
  width: 100%;
  height: 158px;
  border: 1px solid map-get($map: $color, $key: gray);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  box-shadow: 0 0 8px map-get($map: $color, $key: gray);
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }
  img {
    position: relative;
  }
  .game-title,
  .game-subtitle {
    position: relative;
    color: map-get($map: $color, $key: light);
  }
  .game-title {
    font: normal 1.6rem/1 "arial";
  }
  .game-subtitle {
    font: normal 1.4rem/1 "arial";
  }
}

@mixin butonType {
  border: none;
  border-radius: 8px;
  padding: 2px 8px;
  cursor: pointer;
  background: map-get($map: $color, $key: but);
  transition: all 0.3s;
  &:hover {
    background: map-get($map: $color, $key: accent);
    color: map-get($map: $color, $key: light);
  }
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  body {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
  }
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #wrapper-header {
    width: 100%;
    height: 48px;
    @include innerContent;
    .header-line {
      width: 100%;
      border-top: 1px solid map-get($map: $color, $key: gray);
      margin: 4px 0;
    }
    .albem-wrapper {
      display: flex;
      justify-content: space-between;
      .albem-thum {
        width: 130px;
        height: 130px;
      }
      .albem-songtitle {
        font-size: 1.2rem;
        color: map-get($map: $color, $key: gray);
      }
      .albem-artist {
        color: map-get($map: $color, $key: artist);
        font-size: 1.4rem;
      }
    }
  }

  #wrapper-body {
    width: 100%;
    @include innerContent;
    .albumTable {
      width: 100%;
      margin: 4px 0;
      padding: 2px;
      border-spacing: 0;
      th {
        background: map-get($map: $color, $key: table);
        padding: 2px;
        font-size: 1.4rem;
      }
      td {
        color: map-get($map: $color, $key: artist);
        border-bottom: 1px dashed map-get($map: $color, $key: gray);
        // height: 28px;
      }
      .albumTable-checkbox {
        width: 5%;
        text-align: center;
      }
      .albumTable-number {
        width: 10%;
        text-align: center;
      }
      .albumTable-song {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        outline: 40px;
        i {
          margin-top: 3px;
          display: inline-block;
          width: 24px;
          height: 18px;
          // border: 1px solid map-get($map: $color, $key: gray);
          border-radius: 3px;
          padding-left: 6px;
          color: map-get($map: $color, $key: theme);
          cursor: pointer;
        }
      }
      .albumTable-artist {
        width: 26%;
        text-align: center;
      }
    }

    .albumTable-footer {
      display: flex;
      justify-content: space-between;
      button {
        border: none;
        border-radius: 6px;
        padding: 3px;
        background: map-get($map: $color, $key: gray);
        color: map-get($map: $color, $key: light);
        cursor: pointer;
      }
      .footer-center {
        color: map-get($map: $color, $key: accent);
      }
    }
  }
}
