* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

$c: (
  dark: #000,
  light: #fff,
  bg: #ea7616,
  ac: #dc143c,
);

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($map: $c, $key: bg);
}

.clock-container {
  width: 280px;
  height: 280px;
  border: 8px solid map-get($map: $c, $key: dark);
  border-radius: 50%;
  position: relative;
  background: map-get($map: $c, $key: light);
  .number {
    position: absolute;
    font-size: 2rem;
    &#num3 {
      font-weight: bold;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
    }
    &#num6 {
      font-weight: bold;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
    &#num9 {
      font-weight: bold;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
    }
    &#num12 {
      font-weight: bold;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #dot {
    width: 14px;
    height: 14px;
    background: map-get($map: $c, $key: dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
  }
  #hour {
    position: absolute;
    top: 28%;
    left: 48.8%;
    width: 7px;
    height: 60px;
    background: map-get($map: $c, $key: dark);
    transform-origin: center bottom;
  }

  #min {
    position: absolute;
    top: 14%;
    left: 49.8%;
    width: 2px;
    height: 95px;
    background: map-get($map: $c, $key: dark);
    transform-origin: center bottom;
  }
  #secs {
    position: absolute;
    top: 20%;
    left: 49.8%;
    width: 2px;
    height: 80px;
    background: map-get($map: $c, $key: ac);
    transform-origin: center bottom;
  }
}
