@import "./styles/reset.scss";
@import "./styles/variables.scss";

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $main-font-size;

  .frame {
    div {
      border: $main-font-size/4 solid $main-red-color;
      margin: 5px;
      padding: 5px;
    }
  }
}
// 반복문
@for $i from 1 through 9 {
  // i 라는 변수에 1 ~ 9까찌 ( $ =>변수 선언)
  .frame {
    div:nth-child(#{$i}) {
      // 변수 가져올떄 #{}
      width: $main-font-size * 4 * $i;
    }
  }
}
