@import "./reset.scss";
@import "./variabless.scss";

html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
  }
}

#container {
  height: 100vh;
  background: url(https://i.namu.wiki/i/TF_8LZBtFeIl9JCL4jb-tTWcfC1KnMukjXreMutvX3Vlrhckv-akWHr54VT10ZjiatFC7g3mQsvdW2jeUr66Kg.webp)
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  #outer {
    width: 807px;
    height: 544px;
    background: url("./contents/outerbox.png") center/cover no-repeat;
    position: relative;
    #inner {
      display: flex;
      padding: 30px;
    }
  }
}

/* ineer left */
#inner-left {
  width: 203px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .inner-left-header {
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    .zero {
      color: map-get($map: $c, $key: ac);
    }
  }
  .inner-left-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid map-get($map: $c, $key: gray);
    border-radius: 14px;
    padding: 26px;
    .left-body-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title-img {
        width: 148px;
        height: 133px;
        background: url("./contents/iu.jpg") center/cover no-repeat;
      }
      .title-line {
        width: 100%;
        margin: 12px 0;
        border-top: 1px dotted map-get($map: $c, $key: dark);
      }
    }
    .left-body-profile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 18px;
      .profile-detail {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
      }
    }
    .left-body-footer {
      .footer-feel {
        display: flex;
        flex-direction: column;
        gap: 6px;
        .feel-title {
          font-weight: bold;
        }
      }
    }
  }
}

/* ineer right */
#inner-right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: 1px solid #ccc;
  .inner-right-header {
    display: flex;
    justify-content: space-between;
    color: map-get($map: $c, $key: tm);
    .header-title {
      font-weight: bold;
    }
    .header-privorcy {
      font-size: 1.4rem;
    }
  }
}

/* navigation */
#navigation {
  position: absolute;
  top: 20%;
  right: -70px;
}
