현재 시점으로 얼마의 시간이 흘렀고 시간으로는 몇시간이 흠 날과 시간 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#container {
  width: 800px;
  margin: 100px auto;
  text-align: center;
  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
  form {
    width: 100%;
    margin-bottom: 50px;
    label {
      font-size: 2.6rem;
      input {
        width: 120px;
        height: 50px;
        border: none;
        border-bottom: 1px solid #afafaf;
        text-align: center;
        font-size: 2rem;
      }
    }
    #btn {
      width: 70px;
      height: 50px;
      margin-left: 20px;
      font-size: 2rem;
      border-radius: 10px;
    }
  }
  #result {
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 1px solid #afafaf;
    box-shadow: 0 0 8px rgba($color: #afafaf, $alpha: 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 3rem;
      .accent {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
  }
}
