* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.8);
    border-radius: 20px;
  }

  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 20px;
  }

  #profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
      width: 150px;
      border-radius: 20px;
    }
    #desc {
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p {
        font-size: 1.4rem;
        // &:first-child {
        //   display: none;
        // }
        // &:last-child {
        //   display: none;
        // }

        // 가상 클래스 active
        &.active {
          background: #ff0;
          color: #1e90ff;
        }
      }
    }
  }
}
