:root {
  --main-light-color: #fff;
  --main-dark-color: #000;
  --button-barder-color: #bbb;
  --border-main-color: #ddd;
  --logo-font-color: #444;
  --lnb-font-color: #999;
  --gnb-font-color: #555;
  --sub-desc-color: #888;
}
