* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loding {
  // 중심으로
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    // 안쪽에서 움직임
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: gray;
    animation: loding 1.5s linear infinite;
    &:nth-child(1) {
      background: crimson;
    }
    &:nth-child(2) {
      background: dodgerblue;
      animation-delay: 0.8s;
    }
  }
}

@keyframes loding {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 0;
    left: calc(100% - 100px);
  }

  50% {
    top: calc(100% - 100px);
    left: calc(100% - 100px);
  }

  75% {
    top: calc(100% - 100px);
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}
